#app_header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  transition: padding 0.25s ease;
  backdrop-filter: blur(1.5rem);
  border-bottom: solid 0.1rem var(--header-border-color);
}

#app_header > .principal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.4rem;
  user-select: none;
}

#app_header > .principal > .logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#app_header > .principal > .logo > a {
  text-decoration: none;
  cursor: default;
}

#app_header > .principal > .logo > a > h1 {
  font-size: 1.3rem;
  font-family: var(--font-rubik), sans-serif;
  font-weight: 600;
  color: var(--text-primary);
}

#app_header > .principal > .logo > a > h1 > span {
  color: var(--text-accent);
  font-family: var(--font-rubik);
}

#app_header > .principal > .spacer {
  height: 48%;
  width: 1px;
  background-color: var(--header-spacer-color);
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  transform: rotate(15deg);
}

#app_header:hover > .principal > .spacer {
  transform: rotate(-15deg);
}

#app_header > .principal > .navigate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

#app_header > .principal > .navigate > .link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.185rem;
  cursor: pointer;
  color: var(--header-link-color);
  transition: color 0.15s ease;
}

#app_header > .principal > .navigate > .link:hover {
  color: var(--text-accent);
}

#app_header > .principal > .navigate > .link > .icon {
  width: 1.055rem;
  height: 1.055rem;
}

#app_header > .principal > .navigate > .link > .text {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: var(--font-rubik);
}

#app_header > .others {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#app_header > .others .act,
#app_header > .others .btn {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#app_header > .others .btn.menu {
  display: none;
}

#app_header > .others .act > .icon,
#app_header > .others .btn > .icon {
  width: 1.35rem;
  height: 1.35rem;
  color: var(--header-link-color);
  transition: color 0.15s ease;
}

#app_header > .others .act:hover > .icon,
#app_header > .others .btn:hover > .icon {
  color: var(--text-accent);
}

#app_header > .others .btn.accent > .icon {
  color: var(--header-action-text-color);
}

#app_header > .others .btn.accent:hover > .icon {
  color: var(--header-action-text-color);
}

#app_header > .others .btn.accent {
  background-color: var(--header-action-background-color);
  color: var(--header-action-text-color);
  border: 0.1rem solid var(--header-action-color);
  border-radius: 0.5rem;
  padding: 0.45rem;
}

#app_header > .others .btn.menu {
  padding: 0.35rem;
}

#app_header > .others .btn.menu > .icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text-primary);
}

#app_header > .others .mobile_menu {
  position: relative;
}

#app_header_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 2.7rem;
  right: 0;
  width: 14rem;
  background-color: rgb(1, 16, 7);
  border: 0.1rem solid rgba(64, 255, 128, 0.35);
  border-radius: 0.5rem;
  transform-origin: top right;
}

#app_header_menu > .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem;
}

#app_header_menu > .nav > .button {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: rgb(14, 41, 21);
  border: 0.1rem solid rgba(19, 255, 145, 0.257);
  width: 100%;
  border-radius: 0.25rem;
  gap: 0.2rem;
  padding: 0.5rem 1rem;
  height: 2.1rem;
}

#app_header_menu > .nav > .button > .text {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--font-rubik);
  color: rgb(255, 255, 255);
  line-height: 0;
  text-wrap: balance;
  margin-top: 0.2rem;
}

#app_header_menu > .nav > .button > .icon {
  width: 1.3rem;
  height: 1.3rem;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 780px) {
  #app_header > .principal .navigate {
    display: none;
  }

  #app_header > .others .btn.menu {
    display: flex;
  }
}

@media screen and (max-width: 1040px) {
  #app_header {
    padding: 0 1.5rem;
  }
}
