---
import { AstroFont } from "astro-font";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Eddyer Morales - A simple back-end developer"
    />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <AstroFont
      config={[
        {
          src: [],
          name: "Rubik",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
        },
        {
          src: [],
          name: "Open Sans",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
        },
        {
          src: [],
          name: "Poppins",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap",
          preload: true,
          display: "swap",
          selector: "html",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <body>
    <Header />
    <slot />
    <style is:global>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      :root {
        --text-accent: rgb(33, 186, 114);
        --text-primary: rgb(255, 255, 255);

        --header-spacer-color: rgb(255, 255, 255, 0.1);
        --header-link-color: rgb(181 196 189);
      }

      html {
        font-family: "Rubik", sans-serif;
        background: rgb(5, 10, 8);
        color: var(--text-primary);
      }
    </style>
  </body>
</html>
